{% extends 'base.html' %}


{% block container %}
    <br>

    <div class="container mt-4">
        <div class="row flex-row-reverse justify-content-md-center">
            {% for book in data %}
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}"
                                     class="img-fluid rounded-start" alt="...">
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <h3 class="card-title"><a
                                            href="{{ book.get_absolute_url }}"><strong>{{ book }}</strong></a></h3>
                                    <p class="card-text pt-3">{{ book.intro|truncatewords:12 }}</p>
                                    <p class="text-muted">نویسنده: {{ book.author }}</p>
                                    <div>
                                        <a href="{{ book.get_update_url }}">
                                            <button class="btn btn-warning">edit</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous  %}

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for num in paginator.page_range %}
                	<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {#    {% for book in data %}#}
    {#        <div class='container'#}
    {#             style="border-color: #1b1b1b; border-width: 1px;#}
    {#              border-style: solid; text-align: center">#}
    {#            <h1>{{ book }}</h1>#}
    {#            <h1>{{ book.intro|truncatewords:10 }}</h1>#}
    {#            <a class="btn btn-primary" href="{{ book.get_absolute_url }}"><h6>detail</h6></a>#}
    {#            <a class="btn btn-warning" href="{{ book.get_update_url }}"><h6>edit</h6></a>#}
    {#            <a class="btn btn-danger" href="{{ book.get_delete_url }}"><h6>delete</h6></a>#}
    {#        </div>#}
    {#    {% endfor %}#}

{% endblock container %}